@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


body::-webkit-scrollbar {
	width: 0.1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(29, 26, 26);
	outline: 1px solid slategrey;
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #ecf0f1;
}

img {
	max-width: 100%;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	overflow: hidden;
	width: 350px;
}

.card-header {
	height: 200px;
}

.card-header img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.card-content {
	background-color: aliceblue;
	padding: 30px;
}

.card-title {
	height: 20px;
	margin: 0;
}

.card-excerpt {
	color: #777;
	margin: 20px 0 20px;
}

.author {
	display: flex;
}

.profile-img {
	border-radius: 50%;
	overflow: hidden;
	height: 40px;
	width: 40px;
}

.author-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
	width: 200px;
}

.author-info small {
	color: #aaa;
	margin-top: 5px;
}

/* .animated-bg animated-bg-text */

.animated-bg {
	background-image: linear-gradient(to right, #c3c5c7 0%, #e4e5e7 10%, #c3c5c7 20%, #c3c5c7 100%);
	background-size: 200% 100%;

	animation: bgPos 1s linear infinite;
}

.animated-bg-text{
	border-radius: 50px;
	display: inline-block;
	margin: 0;
	height: 10px;
	width: 100%;
}

@keyframes bgPos{
	0%{
		background-position: 50% 0;
	}

	100%{
		background-position: -150% 0;
	}
}